<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://github.com/mathter" target="_blank" class="icon brands alt"><img src="/images/in/gitbub.svg"/><span class="label">GitHub</span></a></li>
            <li><a href="mailto:onlysimpletw@gmail.com" target="_blank" class="icon brands alt"><img src="/images/in/email.svg"><span class="label">E-mail</span></a></li>
        </ul>
        <ul class="copyright">
            <li>2025 &copy; Alexander Kashirsky</li></li>
        </ul>
    </div>
</footer>