<!DOCTYPE HTML>
<html>
{% include head.html schema=page.schema %}
<body class="is-preload">
<div id="wrapper">
    {%- include header.html -%}
    {%- include menu.html -%}
    {%- include main.html -%}
    {%- include footer.html -%}
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>